@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif, 'Cambria';
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    background-color: #dddddd;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

header {
    height: 100px;
    flex: 0 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1px + 2.5vw);
    padding: 20px;
    flex-wrap: nowrap;
}

h1 {
    text-align: center;
}

#main {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

#subMain {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 70vw;
    height: 100%;;
    gap: 10px;
    justify-content: center;
}

#roundNumber {
    font-size: calc(1px + 1vw);
}

#scoreLabels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(18px + 2vw);
    color: #33333350;
    flex: 0 1 20%;
    width: 100%;
    padding: 10px;
}

#playerScore, #computerScore {
    width: 20%;
    text-align: center;
}

#choiceLabels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    /* flex: 1 1 fit-content; */
    width: 100%;
}

#playerLabel, #computerLabel {
    font-size: calc(3px + 2vw);
    height: fit-content;
    width: 15vw;
    text-align: center;
    color: #00000090;
}

#choiceDisplay{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 250px;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

#playerChoice, #computerChoice {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #00000080;
    flex: 0 1 60%;
    aspect-ratio: 1 / 1;
}

#playerOptions {
    display: flex;
    min-width: 100%;
    flex-flow: row nowrap;
    gap : 10px;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 250px;
}

#playerOptions > div {
    background-color: #fafafa;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    /* height: 90%; */
    box-shadow: 2px 1px 4px #11111150;
    aspect-ratio: 1 / 1;
    flex: 0 1 60%;
    max-height: 200px;
    max-width: 200px;
}

.choiceIcons {
    flex: 1 1 auto;
    height: 70%;
    width: 70%;
}

.overlay {
    display: none;
}

#overlay {
    position: fixed;
    background-color: #00000050;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOverModal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 1.5%;  
    width: 20vw;
    min-width: max-content;
    aspect-ratio: 5/3;
    border-radius: 20px;
    box-shadow: 7px 7px 3px #33333366;
    align-self: center;

}

#gameOverText {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 10px;
}

#gameOverModalButton {
    height: 30%;
    width: 30%;
    background-color: rgb(129, 211, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #232323;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#copyRight, #copyRight > a {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}