@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif, 'Cambria';
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    background-color: #FFFBDA;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

a, a:visited {
    color: inherit;
}

header {
    height: 10vh;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(1.5vw + 0.5vh);
    font-weight: 800;
    padding: 20px;
    flex-wrap: nowrap;
    gap: 30px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

#heroHeading {
    text-align: center;
    margin: auto;
}
/* 
h1 {
    text-align: center;
} */
#alignmentDiv, #modeToggle {
    /* min-width: calc(1vw); */
    min-width: 20px;
    display: flex;
    /* min-height: 10vh; */
    aspect-ratio: 1 / 1;
    width : 2.5vw;
    font-size: calc(1vw + 0.25vh);
    align-items: center;
    justify-content: center;    
}

/* #modeToggle {
    border: 3px solid #111720;
} */


#main {
    flex: 1 0 100px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    min-width: fit-content;
}

.light {
    color: #18202c;
    background-color: #FFFBDA;
}

.dark {
    color: #F5E8C7;
    background-color: #111720;
}

.lightContainer {
    color: #F5E8C7;
}

.darkContainer {
    color: #F5E8C7;
}

#subMain {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column nowrap;
    width: 70vw;
    height: 100%;;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    overflow:visible;
}

#subMain > div {
    flex-shrink: 1;
    height: auto;
    min-width: min-content;
}

#roundNumber {
    font-size: calc(0.8vw + 1vh);
    opacity: 60%;
}

#infoLabel {
    display: flex;
    justify-content: center;
    opacity: 50%;
    font-weight: 1000;
    font-size: calc(1.5vw + 1.5vh);
}

#scoreLabels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(18px + 2.5vw + 1vh);
    /* color: #33333350; */
    flex: 0 1 auto;
    width: 100%;
    padding: 10px;
}


#choiceLabels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    /* flex: 1 1 fit-content; */
    width: 100%;
}

#playerLabel, #computerLabel {
    font-size: calc(2px + 1vw + 0.5vh);
    font-weight: 700;
    height: fit-content;
    width: 15vw;
    text-align: center;
    filter: contrast(30%);
}

#choiceDisplay{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 0 1 auto;
    width: 100%;
    padding: 10px;
    gap: 10px;
    min-height: 20vh;
}

#playerScore, #computerScore {
    display: flex;
    width: 3vw;
    flex: 0 1 auto;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: calc(2vw + 3vh);
    opacity: 50%;
}

.displayContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /* background-color: #fafafa; */
    filter:hue-rotate(15deg) opacity(50%);
    border-radius: 6%;
    max-width: calc(20vh + 2%);
}


.lightContainer {
    background-color: #FFEC9E;
}

.darkContainer {
    background-color: #1B1A55;
}

#playerChoice, #computerChoice {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2.5vw + 5vh);
    flex: 0 1 auto;
    aspect-ratio: 1 / 1;
    /* height: 20vh; */
    width: 15vw;
    min-width: 100px;
    max-height: 20vh;
    max-width: 20vh;
}

#playerOptions {
    display: flex;
    min-width: fit-content;
    flex-flow: row nowrap;
    gap : 10px;
    padding: 0 18%;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 auto;
    width: 100%;
}

#playerOptions > div {
    /* background-color: #fafafa; */
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    /* height: 90%; */
    box-shadow: 2px 1px 4px #11111150;
    filter: brightness(100%) opacity(1) contrast(100%);
    aspect-ratio: 1 / 1;
    flex: 0 1 30%;
    max-height: 250px;
    max-width: 250px;
    min-height: 90px;
    min-width: 90px;
    transition: filter 0.3s, box-shadow 0.3s;
}

#playerOptions > div.lightContainer:hover {
    box-shadow: 5px 4px 5px #11111150; 
    filter: brightness(105%);
    /* background-color: #fcfcfc; */
    transition: 0.3s;
}

#playerOptions > div.lightContainer:active {
    box-shadow: 1px 0 2px #11111150;
    filter: brightness(96%);
    transition: 0.15s;
}

#playerOptions > div.darkContainer:hover {
    box-shadow: 5px 4px 5px #000011;
    /* background-color: #232e41; */
    filter: brightness(130%);
    transition: 0.3s;
}

#playerOptions > div.darkContainer:active {
    box-sizing: 1px 0 2px #000011;
    /* background-color: #19212e; */
    filter: brightness(70%);
    transition: 0.15s;
    
}

.svgLight {
    fill: #092635;
}

.svgDark {
    fill: #9EC8B9;
}

.choiceIcon {
    flex: 1 1 auto;
    height: 70%;
    width: 70%;
    filter: contrast(10%) brightness(100%);
}


footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: calc(0.5vw + 1vh);
}

#copyRight, #copyRight > a {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.contact-icon, .icon {
    height: calc(0.5vw + 1vh);
}

.overlayHide {
    display: none;
}

.overlayShow {
    display: flex;
}

/* .overlay {
    display: none;
} */

#overlay {
    position: fixed;
    background-color: #11172090;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}

.gameOverModal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #313d50;
    padding: calc(1vw + 1vh);  
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
    aspect-ratio: 5/3;
    border-radius: calc(0.5vh + 1vw);
    box-shadow: 7px 7px 3px #313d5066;
    font-size:  30px;
    font-weight: 500;
}

#gameOverText {
    padding: 5%;
}

#gameOverModalButton {
    height: 30%;
    width: 30%;
    background-color: rgb(129, 211, 238);
    border-radius: calc(0.25vh + 0.5vw);
    box-shadow: 1px 2px 4px #232323;
    font-size: 20px;
    font-weight: 700;
    justify-self: baseline;
    transition: box-shadow 0.3s background-color 0.3s;
}

#gameOverModalButton:hover {
    background-color: rgb(125, 213, 243);
    box-shadow: 3px 5px 4px #232323;
    transition: 0.3s;
}

#gameOverModalButton:active {
    background-color: rgb(110, 186, 211);
    box-shadow: 0px 1px 2px #232323;
    transition: 0.3s;
}

.displayCard {
    /* background-color: #1f2939; */
    color: #F5E8C7;
}


